body{
  background-color: rgba(166, 227, 250, 0.663);
  font-family: Arial, sans-serif;
    font-size: 16px;
}

.login-form {
  transition: background-color 300ms;
  background-color: rgba(255, 255, 255, 0.754);
  width: 35%;
  max-width: 400px;
  border: 2px solid darkblue;
  border-radius: 5px;
  padding: 25px;
  margin: 5% 33% 25px;


}
.signUp-form {
  transition: background-color 300ms;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.754);
  width: 35%;
  max-width: 400px;
  border: 2px solid darkblue;
  border-radius: 5px;
  margin: 25px 33%;  
}

label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(0, 0, 92);
}

input {
  width: 93%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0069d9;
}
.login-form:hover{
  background-color: rgb(248, 254, 255);
}
.signUp-form:hover{
  background-color: rgb(248, 254, 255); 
}
