<div class="login">
    <h4>regin</h4>
    <div class="content">
        <form action="http://127.0.0.1:3000/test/Regin_get" method="GET"">
            userName: <input type="text" name="userName">  <br>
            
            passWord: <input type="text" name="passWord">
            <input type="submit" value="regin">
        </form>
        <form style="margin: 25px 10px;" action="http://127.0.0.1:3000/test/login" method="GET">
            <input type="submit" value="login">
        </form>
    <div>
</div>